<% if !current_user?(monthly_expense.user) %>
    <span class="like">
    <% if monthly_expense.good?(current_user) %>
      <%= form_for(monthly_expense.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#", class: "glyphicon glyphicon-heart" %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(monthly_expense.likes.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :monthly_expense_id, monthly_expense.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#", class: "glyphicon glyphicon-heart-empty" %>
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>
