<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
		<%= render 'users/user_main' %>
    <%= render 'users/follow_form' if logged_in? %>
    <%= render 'families/family_show' %>
    <%= render 'asset_allocations/asset_allocation_show' %>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
